<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <%= link_to "back", url, class: "btn btn-primary" %>
  </div>

  <% if current_user.admin? %>
    <% button_text = yield(:button_text) %>
    <% if (button_text.empty?) %>
      <div class="btn-group" role="group">
        <%= link_to "edit", edit_path, class: "btn btn-primary" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to "delete", model, class: "btn btn-primary", data: { "turbo-method": :delete,
        turbo_confirm: "You sure?" } %>
      </div>
    <% else %>
      <div class="btn-group" role="group">
        <%= f.submit button_text, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>