<% provide(:title, 'New Storage Location') %>
<% provide(:button_text, 'Add Storage Location') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', storage_location: @storage_location %>
  </div>
</div>