<% provide(:title, 'Containers') %>

<h1>All Containers</h1>

<%= render 'shared/page', new_path: new_container_path %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Div</th>
        <th>Loc Type</th>
        <th>Location</th>
        <th>SLOC</th>
        <th>Status</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Batch</th>
        <th>Expiry</th>
        <% if current_user.admin? %>
            <th>Edit</th>
            <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <%= render @containers %>
    </tbody>
  </table>
</div>

<%= render '/shared/page', new_path: new_container_path %>