<% provide(:title, 'Countries') %>

<h1>All Countries</h1>

<%= render 'shared/page', new_path: new_country_path %>

<ul class="countries">
    <%= render @countries %>
</ul>

<%= render '/shared/page', new_path: new_country_path %>